{% extends 'index.html' %}
{% block titulo %}Cálculos | {% endblock %}
    {% block jscript %}<script type="text/javascript" src="{{ STATIC_URL }}form_dinamico.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            explicacion();
        });
    </script>
    {% endblock %}
{% block form_choice %}
{% if results or results == 0%}
    Resultado: {{ results }}
{% endif %}
<form action="{{ form_url }}" method="post" id="calcs_form">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Go for it!" />
</form>
{% endblock %}
{% block explanation_choice %}
<div id="explanation_text">
    {{ explanation }}    
</div>
<p><a href="{% url home %}">Regresar al inicio</a></p>
{% endblock %}
