<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Driade</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css" />
</head>

<body>
    <div id="container">
        <div id="header">
            <h1>Driade</h1>
        </div>
        <div id="menu">
            <ul class="menu_links">
                <li><a href="{% url home %}">Inicio</a></li>
                <li><a href="#">Glosario</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Sobre el Sitio</a></li>
            </ul>
        </div>
        <div id="content">
            {% block contenido %}<h2>Página de Inicio</h2>
            <p><a href="{% url home_calcs %}">Ir a los cálculos</a></p>{% endblock %}
        </div>
    </div>
</body>

</html>
